Ques 1

In [3]:
import random

In [2]:
i=0
j=1

for p in range(10):
    print(i)
    j=j+i
    i=j-i

0
1
1
2
3
5
8
13
21
34

Ques2

In [7]:
l = random.sample(range(1, 100), 10)
print(l)
print(l[1::2])

[18, 49, 86, 31, 61, 73, 33, 65, 15, 5]
[49, 31, 73, 65, 5]

Ques3

In [9]:
s = """

I have provided this text to provide tips on creating interesting paragraphs.

First, start with a clear topic sentence that introduces the main idea.

Then, support the topic sentence with specific details, examples, and evidence.

Vary the sentence length and structure to keep the reader engaged.

Finally, end with a strong concluding sentence that summarizes the main points.

Remember, practice makes perfect!

"""

words = s.split()  # Convert to lowercase and split into words
unique = set(words)  # Use a set to store unique words
print(len(unique))

47

Ques4

In [2]:
def count_vowels(word):
    vowels = "aeiouAEIOU"
    return sum(1 for char in word if char in vowels)


print(count_vowels("Hello World"))

3

Ques5

In [3]:
animals = ['tiger', 'elephant', 'monkey', 'zebra', 'panther']

for animal in animals:
    print(animal.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

Ques 6

In [4]:
for i in range(1, 21):  # Iterate from 1 to 20
    if i % 2 == 0:
        print(f"{i} is EVEN")
    else:
        print(f"{i} is ODD")

1 is ODD
2 is EVEN
3 is ODD
4 is EVEN
5 is ODD
6 is EVEN
7 is ODD
8 is EVEN
9 is ODD
10 is EVEN
11 is ODD
12 is EVEN
13 is ODD
14 is EVEN
15 is ODD
16 is EVEN
17 is ODD
18 is EVEN
19 is ODD
20 is EVEN

Ques 7

In [5]:
def sum(a, b):
    return a + b

a = int(input("Enter one number"))
b = int(input("Enter second number"))
print(sum(a,b))

Enter one number5
Enter second number9
14